@use "@assets/mixins.scss" as *;
@use '@assets/variables.scss' as *;

.cat-card {
    width: pxToRem(240);;
    overflow: hidden;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-xs) {
        width: 100%;
    }

    .cat-card-img {
        width: 100%;
        height: pxToRem(200);
        object-fit: cover;
        object-position: top;

        @media screen and (max-width: $breakpoint-xs) {
            height: pxToRem(240);
        }
    }

    :deep(.p-card-body) {
        height: 100%;

        .p-card-content {
            height: 100%;
        }
    }

    .cat-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: pxToRem(8);

        .cat-content {
            display: flex;
            flex-direction: column;
            gap: pxToRem(8);
            .cat-model {
                font-size: pxToRem(20);
            }
        }

        .creator {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            gap: pxToRem(8);
            padding-top: pxToRem(8);
            
            .creator-img {
                width: pxToRem(24);
                height: pxToRem(24);
                border-radius: pxToRem(6);
            }
        }
    }
}