@use "@assets/mixins.scss" as *;

.about-the-species-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: pxToRem(32);
    
    .species-creator {
        .creator-card {
            width: pxToRem(240);
            overflow: hidden;

            .presto-img {
                width: 100%;
            }
        }
    }
}