@use "@assets/mixins.scss" as *;
@use '@assets/variables.scss' as *;

.characters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .characters-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: pxToRem(32);

        .characters-header-title {
            font-size: pxToRem(24);
        }

        .p-iconfield {
            .p-inputtext:enabled:focus {
                border-color: $aerocat-blue;
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            position: sticky;
            top: 0;
            background-color: $background-color;
            padding: pxToRem(16) pxToRem(32);
        }
    }

    .characters {
        display: flex;
        flex-wrap: wrap;
        gap: pxToRem(20);

        @media screen and (max-width: $breakpoint-xs) {
            padding: 0 pxToRem(32);
            padding-bottom: pxToRem(32);
        }
        

        .cards-move,
        .cards-enter-active,
        .cards-leave-active {
            transition: all 0.5s ease;
        }

        .cards-enter-from,
        .cards-leave-to {
            opacity: 0;
        }

        .cards-leave-active {
            position: absolute;
        }
    }
}