@use "@assets/mixins.scss" as *;
@use '@assets/variables.scss' as *;

.app-header-container {
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: pxToRem(32);

        a {
            text-decoration: none;
            color: white;
        }
        

        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
            .logo-img {
                width: pxToRem(80);
                color: white;
            }
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: pxToRem(16);

                a {
                    &.router-link-exact-active {
                        color: $aerocat-blue;
                    }
                }
            }
        }
    }
}