@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.app-header-container {
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: pxToRem(32);

    @media screen and (max-width: $breakpoint-xs) {
      display: flex;
      justify-content: space-between;
      padding: 0 pxToRem(16);
    }

    a {
      text-decoration: none;
      color: white;
    }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .logo-img {
        width: pxToRem(80);
        color: white;
      }
    }

    ul.nav-links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: pxToRem(16);

      li {
        list-style: none;
        padding-bottom: pxToRem(2);
        border-bottom: pxToRem(2) solid transparent;
        transition: border-bottom 0.3s ease;
      }

      li:hover {
        border-bottom-color: $aerocat-blue;
      }

      a {
        &.router-link-exact-active {
          color: $aerocat-blue;
        }
      }
    }

    .nav-links-container {
      display: flex;
      flex-direction: row;

      :deep(.p-menubar) {
        border: none;
        background: none;
      }
    }
  }
}
