@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.nav-drawer {
  .p-drawer-content {
    .nav-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: pxToRem(16);
    
      li {
        a {
          text-decoration: none;
          color: white;

          // &.router-link-active {
          //   color: $aerocat-blue;
          // }
        }

        :deep(.sub-menu) {
          border: none;
    
          .p-menu-list {
            padding: pxToRem(16);
            gap: pxToRem(12);
          }
        }
      }
    }

    .p-button {
      border: none;
      background: transparent;
      margin: 0;
      padding: 0;
      color: white;
    }
  }
}

.app-header-container {
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: pxToRem(32);

    @media screen and (max-width: $breakpoint-xs) {
      display: flex;
      justify-content: space-between;
      padding: 0 pxToRem(20);
    }

    a {
      text-decoration: none;
      color: white;
    }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .logo-img {
        width: pxToRem(80);
        color: white;
      }
    }

    .header-drawer-container {
      .p-button {
        border: none;
        background: transparent;
        color: var(--p-button-text-secondary-color);
      }
    }

    .nav-links-container {
      display: flex;
      flex-direction: row;

      .p-menubar {
        border: none;
        background: none;
      }
    }
  }
}
