@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.character-modal-container {
  &.p-dialog {
    @media screen and (max-width: $breakpoint-xs) {
      width: 100%;
      border-radius: 0;
      margin: 0;
      border-top-left-radius: pxToRem(12);
      border-top-right-radius: pxToRem(12);
    }
  }
  
  .modal-content {
    .cat-content {
      display: flex;
      flex-direction: column;
      gap: pxToRem(16);

      .cat-model {
        font-size: pxToRem(20);
      }

      .cat-name {
        font-size: pxToRem(16);
      }
    }
  }
}
