@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.character-modal-container {
  .modal-content {
    .cat-content {
      display: flex;
      flex-direction: column;
      gap: pxToRem(16);

      .cat-model {
        font-size: pxToRem(20);
      }

      .cat-name {
        font-size: pxToRem(16);
      }

      .additional-info {
        
      }
    }
  }
}
