@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.about-the-species-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: pxToRem(32);

    @media screen and (max-width: $breakpoint-xs) {
        padding: pxToRem(32);
    }
    
    .species-creators {
        display: flex;
        flex-direction: row;
        gap: pxToRem(16);

        .creator-card {
            width: pxToRem(240);
            overflow: hidden;

            .creator-img {
                width: 100%;
            }
        }
    }

    .section-title {
        font-size: pxToRem(32);
        font-weight: 500;
    }

    .warning-text {
        color: var(--p-red-500);
    }
}