@use "@assets/mixins.scss" as *;
@use '@assets/variables.scss' as *;

.homepage-container {
    @media screen and (max-width: $breakpoint-xs) {
        padding: 0 pxToRem(16);
    }

    .homepage-header {
        display: flex;
        flex-direction: column;
    }

    .homepage-banner {
        width: 100%;
        border-radius: pxToRem(6);
    }

    .contacts { 
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: pxToRem(8);

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
            align-items: center;
        }

        .discord-contacts {
            display: flex;
            flex-direction: column;

            .discord-contact {
                display: flex;
                gap: pxToRem(4);
            }
        }
    }
}