@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

:deep(.p-selectbutton) {
  .p-togglebutton {
    .p-togglebutton-label {
      text-transform: capitalize;
    }
  }
}

.species-sheet-container {
  display: flex;
  flex-direction: column;
  gap: pxToRem(8);

  @media screen and (max-width: $breakpoint-xs) {
    margin: 0 pxToRem(32);
    margin-bottom: pxToRem(32);
  }

  .species-sheet-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: pxToRem(8);

    @media screen and (max-width: $breakpoint-xs) {
      align-items: flex-start;
    }

    .embla {
      position: relative;
      width: 100%;
      overflow: hidden;

      .embla__viewport {
        overflow: hidden;

        .embla__container {
          display: flex;

          .embla__slide {
            display: flex;
            flex: 0 0 34%;
            justify-content: center;
            align-items: center;
            transition: opacity 0.2s ease-in-out;

            &.proto {
              flex: 0 0 100%;
            }

            @media screen and (max-width: $breakpoint-xs) {
              flex: 0 0 100%;
            }

            &:not(.is-snapped) {
              opacity: 0.16;

              .p-image {
                height: 50vh;

                @media screen and (max-width: $breakpoint-xs) {
                  height: 75vh;
                }
              }
            }

            .p-image {
              height: 75vh;

              :deep(img) {
                width: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }

    .embla__controls {
      width: 100%;

      .embla__buttons {
        position: absolute;
        top: 43%;
        width: 100%;

        .embla__button {
          background: white;
          opacity: 0.7;
          border: none;
          border-radius: 100%;
          cursor: pointer;
          width: pxToRem(40);
          height: pxToRem(40);
          position: absolute;

          i {
            color: black;
          }

          &.embla__button--next {
            right: pxToRem(4);
          }

          &.embla__button--prev {
            left: pxToRem(4);
          }
        }
      }

      .embla__dots {
        display: flex;
        justify-content: center;
        column-gap: pxToRem(8);

        .embla__dot {
          width: pxToRem(8);
          height: pxToRem(8);
          border-radius: 50%;
          border: none;
          margin-top: pxToRem(8);
          padding: 0;
          cursor: pointer;

          &.embla__dot--selected {
            background-color: white;
          }
        }
      }
    }
  }
}
